@font-face {
  font-family: 'Josefin';
  src: url('JosefinSans-Bold.ttf') format('woff2'),
    url('JosefinSans-Bold.ttf') format('woff'),
    url('JosefinSans-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
