@use "/public/assets/fonts/roboto/Roboto";
@use "/public/assets/fonts/iransans/IRANSans";
@use "../src/scss/mui";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: hidden;
}

* {
  font-family: "IRANSansX" !important;
}

.svgBlack {
  svg {
    color: black !important;
  }
}
