@use "/public/assets/fonts/roboto/Roboto";
@use "/public/assets/fonts/iransans/IRANSans";
@use "/public/assets/fonts/Josefin/josefin";
@use "../src/scss/mui";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: hidden;
}

* {
  font-family: "IRANSansX" !important;
}

.svgBlack {
  svg {
    color: black !important;
  }
}

// home page texts
.responsive-typography-1,
.responsive-typography-2 {
  font-family: "Josefin" !important;
  background-image: linear-gradient(#7A5DCB, #5124CF) !important;
  color: transparent !important;
  background-clip: text !important;
}

.responsive-typography-1 {
  font-size: 100px !important;

  @media screen and (max-width: 1330px) {
    font-size: 60px !important;
  }

  @media screen and (max-width: 715px) {
    font-size: 40px !important;
  }

  @media screen and (max-width: 460px) {
    font-size: 30px !important;
  }


}
