.skill-chip {

  &.MuiChip-filled {
    padding: 0 5px !important;
    margin-left: 0 !important;
  }

  .MuiChip-label {
    display: none !important;
  }

  img {
    margin: 0 !important;
    border-radius: 5px;
  }
}

.MuiCard-root::-webkit-scrollbar {
  display: none;
}
