.skill-chip {

  &.MuiChip-filled {
    padding: 0 5px !important;
    margin-left: 0 !important;
  }

  .MuiChip-label {
    display: none !important;
  }

  img {
    margin: 0 !important;
    border-radius: 5px;
  }
}

.MuiCard-root::-webkit-scrollbar {
  display: none;
}

li.MuiTimelineItem-root.MuiTimelineItem-positionRight {

  @media only screen and (max-width: 600px) {
    margin-right: 100px;

    &::before {
      display: none !important;
    }


  }
}
